{% extends "base.html" %}
{% block content %}
   <h1 class="glow">Predalert Video Feed</h1>
   <h3 class="glow">This software uses push notifications to alert you when a predator is detected.</h3>
   <h3 class="glow">You can toggle notifications On or Off using the button below</h3>
   <p>
      <button id="pushButton" class="js-push-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      Enable Push Messaging
      </button>
   </p>
   {% for stream_idx in stream_indices %}
      <img src="#" id="imgcontainer_{{ stream_idx }}" onclick="toggleFullScreen('imgcontainer_{{ stream_idx }}')" class="img-fluid mx-auto d-block rounded" alt="Responsive Surveillance Camera Feed" title="click once to toggle fullscreen">
      </br>
   {% endfor %}
{% endblock %}

{% block scripts %}
   <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>

   {% for stream_idx in stream_indices %}
      <script>
         const imageElement_{{ stream_idx }} = document.getElementById('imgcontainer_{{ stream_idx }}');
         const eventSource_{{ stream_idx }} = new EventSource('/stream/{{ stream_idx }}');

         eventSource_{{ stream_idx }}.onmessage = function(event) {
            const imageData_{{ stream_idx }} = event.data;
            imageElement_{{ stream_idx }}.src = 'data:image/webp;base64,' + imageData_{{ stream_idx }}; // Change datatype if necessary, always ;base64
         };

         eventSource_{{ stream_idx }}.onerror = function(error) {
            console.error('EventSource_{{ stream_idx }} failed:', error);
            eventSource_{{ stream_idx }}.close();
         };
      </script>
   {% endfor %}
{% endblock %}
